body {
  margin: 0;
  background-color: #c4e9e9;
  text-align: center;
}

h1 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  font-size: 4rem;
  margin-top: 6rem;
}
h2 {
  color: #66bfbf;
  font-family: "Sansita Swashed", cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
hr{
  margin: 3rem auto;
  width: 10%;
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;

}
h3{
  color: #11999E;
  text-align: left;
}
a{
  text-decoration: none;
}
a:hover{
  color: white;
}

.programmer {
  color: black;
  font-family: "Shadows Into Light", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.top-cloud {
  position: absolute;
  top: 15%;
  right: 15%;
}
.bottom-cloud {
  position: absolute;
  bottom: 40%;
  left: 15%;
  display: inline-block;
}
.mountain {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 50%;
  width: 40%;
}
.span-pro {
  text-decoration: underline;
}

.top-container{
  margin-bottom: 20%;
}
.middle-container{
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}
.personal-img{
margin: 2.5rem auto 0.5rem;
  height: 10rem;
  width: 10rem;
}
.personal-intro{
width: 30%;
margin: 10px auto;
}

.skill-row{
  width: 50%;
  margin: 2rem auto;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.title{
  font-family: "Shadows Into Light", cursive;
  margin-bottom: 0.2rem;
  text-align: left;
}
.content{
  font-family: "Shadows Into Light", cursive;
}

.chillie{
  height: 30%;
  width: 30%;
  margin-left: 1rem ;
  float: right;
}

.programming-skill {
  height: 30%;
  width: 30%;
  margin-right: 1rem ;
  float: left;
}

.contact-me{
  width: 50%;
  margin: 1rem auto 0;
}
.contact-header{
  text-align: center;
  margin: 1rem auto;
  font-family: "Shadows Into Light", cursive;
}
.contact-p{
  width: 60%;
  margin: 1rem auto;
  font-size: 1rem;
}
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #5AE4E4);
  background-image: -moz-linear-gradient(top, #66BFBF, #5AE4E4);
  background-image: -ms-linear-gradient(top, #66BFBF, #5AE4E4);
  background-image: -o-linear-gradient(top, #66BFBF, #5AE4E4);
  background-image: -webkit-gradient(to bottom, #66BFBF, #5AE4E4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 14px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 2rem auto 3rem;
}

.btn:hover {
  border: solid #FFFFFF 1px;
  background: #4FDDDD;
  background-image: -webkit-linear-gradient(top, #4FDDDD, #23E9E9);
  background-image: -moz-linear-gradient(top, #4FDDDD, #23E9E9);
  background-image: -ms-linear-gradient(top, #4FDDDD, #23E9E9);
  background-image: -o-linear-gradient(top, #4FDDDD, #23E9E9);
  background-image: -webkit-gradient(to bottom, #4FDDDD, #23E9E9);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 3rem;
  margin: 0;
}
.footer-link{
margin: 1rem;
  color:#0c6d70;
}
.p-foot{
  color:#EAF6F6;
  font-size: 0.8rem;
  margin-top: 1rem;
  font-family: "Shadows Into Light", cursive;
}

